
#
# Bazel: Base Settings
#

build --embed_label=alpha
build --define project=cookies-co
build --show_timestamps
build --use_ijars
build --experimental_ui_mode=oldest_actions
build --workspace_status_command="make status QUIET=yes"
build --strict_system_includes
build --incompatible_strict_action_env
build --symlink_prefix=dist/
build --nolegacy_external_runfiles

## Debug/Verbose
build:verbose --verbose_failures
build:debug --sandbox_debug

## Build Sandboxing
build --worker_sandboxing
build --strategy=sandboxed
build --spawn_strategy=sandboxed
build --strategy=SassCompiler=sandboxed
build --strategy=Javac=sandboxed
build --strategy=Closure=sandboxed
build --strategy=TypeScriptCompile=sandboxed

## BuildBuddy
build --build_metadata=BUILDKITE_REPO=cookies/app
build --bes_results_url=https://app.buildbuddy.io/invocation/
build --bes_backend=grpcs://cloud.buildbuddy.io
build --remote_cache=grpcs://cloud.buildbuddy.io
build --remote_timeout=3600
build --remote_header=x-buildbuddy-api-key=6R3w0oRMdKhN3cobqlIl
run --bes_backend=

## Java
build --java_header_compilation
build --strict_java_deps=strict

## Protocol Buffers
build --strict_proto_deps=strict

## Testing & Coverage
test:verbose --test_output=streamed
coverage --collect_code_coverage
coverage --combined_report=lcov
coverage --test_env=DISPLAY
coverage --noinstrument_test_targets
coverage --ui_event_filters=-DEBUG
